
@{
    ViewData["Title"] = "Explanation";
}

<div class="headercenter">
    <br><br><h1><u>IEX Trading Application</u></h1>
    <h2><u>Reasoning</u></h2>
</div><p>
    <div class="headercenter">
        <h3><u>Learning</u></h3>
    </div>
<p>
    •	Holistic learning and provided a good hands-on exposure.<br><br>
    •	Divided work among the team and used each team member’s work experience and stock market knowledge to build our strategy.<br><br>
    •	Also, referred to some blogs and reads (CNNmoney.com, Seekingalpha.com) to have better understandings of the stock market.<br><br>
    •	Understanding the architecture of MVC made us easy to implement our strategy.<br><br>
    •	Overall, it was a great learning experience where we learned creating different layouts, designing views as per requirement, attaching layouts to the views, configuring database to the project and deploying the website on the MS-Azure platform.<br><br>

</p>
<div class="headercenter">
    <h3><u>Strategy</u></h3>
</div>

<p>
    To recommend the top 5 stocks from IEX trading platform we have used following certain criteria-
</p>
<p>•	Firstly, we have taken Dividends in last one year. Company which earns money and are in profit can only give dividend. We have extracted information dividend Rate from https request: /stock/aapl/stats. Dividend rate is the amount of dividend paid in dollars per stock.</p>
<p>•	Second, we have taken the percent change in the stock in last year. We have extracted ytdchangePercent attribute from /stock/aapl/stats.</p>
<p>
    •	We have sorted all these attributes in descending order to get recommendations for the top 5 stocks.
</p>
<p>
    •	Additionally, we have also shown top 10 shares based on two factors: maximum gains and maximum focus.
</p>
