@model List<IEXTrading.Models.StockStats>
@{
    ViewData["Title"] = "InFocus";
}

<div class="headercenter">
    <br><br><h1><u>IEX Trading Application</u></h1>
    <h2><u>InFocus!</u></h2>
</div><br />
<h3>Here are the top 10 shares in focus today!</h3>


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h2>
                        Symbol
                    </h2>
                </th>
                <th>
                    <h2>
                        Name
                    </h2>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.companyName)
                    </td>
                </tr>
            }

        </tbody>
    </table>
}