@model List<IEXTrading.Models.StocksDetails>
    @{
    ViewData["Title"] = "StocksSuggested";
    }

<div class="headercenter">
    <br><br><h1><u>IEX Trading Application</u></h1>
    <h2><u>Stocks Suggested</u></h2>
</div>

    @if (Model != null)
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h2>
                        Symbol
                    </h2>
                </th>
                <th>
                    <h2>
                        Name
                    </h2>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.companyName)
                </td>
            </tr>
            }

        </tbody>
    </table>
    }






