
@{
    ViewData["Title"] = "Stocks";
}

<h2>Stocks</h2>

<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="StocksSuggested">StocksSuggested </a>
    </p>
</div>
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="InFocus">InFocus </a>
    </p>
</div>
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Gainers">Gainers </a>
    </p>
</div>




