
@{
    ViewData["Title"] = "Stocks";
}

<div class="headercenter">
    <br><br><h1><u>IEX Trading Application</u></h1>
    <h2><u>Stocks</u></h2>
</div>

<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="StocksSuggested">StocksSuggested </a>
    </p>
</div>
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="InFocus">InFocus </a>
    </p>
</div>
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Gainers">Gainers </a>
    </p>
</div>




