
@{
    ViewData["Title"] = "Stocks";
}

<div class="headercenter">
    <br><br><h1><u>IEX Trading Application</u></h1>
    <h2><u>Stocks</u></h2>
</div>
<br /><br />
      <ul>
          <li>
              <div>
                  <p>
                      <h3><a asp-area="" asp-controller="Home" asp-action="StocksSuggested">StocksSuggested </a></h3>
                  </p>
              </div>
          </li>
          <br />
          <br />
          <li>
              <div>
                  <p>
                      <h3><a asp-area="" asp-controller="Home" asp-action="InFocus">InFocus </a></h3>
                  </p>
              </div>
          </li>
          <br />
          <br />
          <li>
              <div>
                  <p>
                      <h3><a asp-area="" asp-controller="Home" asp-action="Gainers">Gainers </a></h3>
                  </p>
              </div>
          </li>
      </ul>



